//リセットの為のCSS
@import 'reset';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'toppage/index';
@import'post/show';

img{
  object-fit: cover;
}

  a:hover{
    text-decoration: none;
  }